* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
body {
  background: linear-gradient(287.56deg, #c2e9fb 0%, #a1c4fd 100%);
  font-size: 1.6rem;
  display: grid;
  place-items: center;
  height: 110vh;
}

.hide {
  display: none;
}

main {
  background: #ffffff;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  width: min(43.8rem, 90%);
  padding: 4.8rem 6.4rem 6.4rem;
  margin: -1.2rem;
  height: 27.3rem;
  text-align: center;
}

/* screen 1 */
main h1 {
  font-size: 2.4rem;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #34355b;
}

main p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  margin-top: 1.6rem;

  color: rgba(52, 53, 91, 0.8);
}

form {
  margin: 4.8rem;
  display: flex;
  justify-content: center;
}

button {
  padding: 1.6rem;

  background: #7879f1;
  border-radius: 0px 4px 4px 0px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
  /* identical to box height */

  /* NEUTRAL/White */

  color: #ffffff;
}

button:hover {
  background-color: #4f4fb6;
}

main input {
  width: 5.3rem;
  padding: 1.6rem;
  background: #dce2e9;
  border-radius: 4px 0px 0px 4px;
}

/*screen2 */

h2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #34355B;
}

.btn2 {
  margin-top: 3.3rem;
  border-radius: 0.4rem;
}
